# 모든 확장자가 png인 파일 무시
*.png

# data라는 이름을 가진 디렉터리내 모든 서브 디렉터리 및 파일 무시
data/**

# __pycache__라는 디렉터리 내 모든 파일 무시
__pycache__/

# 모든 확장자가 csv인 파일 무시
*.csv

# 모든 확장자가 txt인 파일 무시, 다음 파일들은 제외
*.txt
!requirements.txt